[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
peewee = "*"
boto3 = "*"
colorthief = "*"
zappa = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-S3 = "*"
Flask-HTTPAuth = "*"
Pillow = "*"
psycopg2-binary = "*"

[requires]
python_full_version = "3.6.7"
