input, button
  display: block
  color: $cText
  padding: 1ch
  border-radius: 1ch
  margin: 1em

input
  background-color: transparent
  border: 1px solid mix(white, $cBackground, 10%)

button
  background-color: mix(white, $cBackground, 10%)
  border: 0
