.images
  display: flex
  flex-wrap: wrap

.image
  margin: 1em
  border: 1px solid $cBorder
  padding: 1ch
  border-radius: 1ch
  width: 256px
  .link
    word-break: break-all
  .thumb
    width: 256px
    height: 256px
    background-position: center center
    background-size: contain
    background-repeat: no-repeat

.image.selected
  background-color: pink
