.images
  display: flex
  flex-wrap: wrap

.image
  margin: 1em
  background-color: $cCardBackground
  box-shadow: $shadowSmall
  padding: 1ch
  border-radius: 1ch
  width: 256px
  .link
    word-break: break-all
  .thumb
    width: 256px
    height: 256px
    background-position: center center
    background-size: contain
    background-repeat: no-repeat
  .colors
    height: 32px
    display: flex
    .color
      flex-grow: 1

.image.selected
  background-color: mix(#44f, $cCardBackground, 20%)

.collection-select
  display: inline-block
