{% extends 'layout.html' %}
{% block content %}
  <form action="/collections/create" method="post">
    <input type="text" name="name">
    <button type="submit">New Collection</button>
  </form>
  {% for collection in collections %}
    <div class="collection">
      {{ collection.name }}
      <ul>
        {% for image in collection.images() %}
          <li><a href="https://s3.amazonaws.com/{{ image.s3_bucket }}/{{ image.s3_key|urlencode() }}" target="_blank">{{ image.s3_key }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endblock %}
