{% extends 'layout.html' %}
{% block content %}
  <form action="/collections/create" method="post">
    <input type="text" name="name">
    <button type="submit">New Collection</button>
  </form>
  <form action="/collections/delete" method="post">
    {% for collection in collections %}
      <div class="collection">
        <input type="checkbox" name="{{ collection.name }}" value="selected">
        {{ collection.name }}
        <ul>
          {% for image in collection.images() %}
            <li>
              <img src="{{ image.s3_key|gen_thumb_key|gen_s3_url(image.s3_bucket) }}" alt="{{ image.s3_key }}">
              <a href="{{ image.s3_key|gen_s3_url(image.s3_bucket) }}" target="_blank">{{ image.s3_key }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    <button type="submit" name="delete" value="true">Delete collections</button>
  </form>
{% endblock %}
