{% extends 'layout.html' %}
{% block content %}
  <form action="/images" method="post">
    {% for image in images %}
      <div class="image">
        <input type="checkbox" name="{{ image.s3_key }}" value="selected">
        <a href="{{ image.s3_key|gen_s3_url(image.s3_bucket) }}" target="_blank">
          <img src="{{ image.s3_key|gen_thumb_key|gen_s3_url(image.s3_bucket) }}" alt="{{ image.title }}">
          {{ image.s3_key }}
        </a>
      </div>
    {% endfor %}
    <div class="add_to_collection">
      <select name="collection">
        {% for collection in collections %}
          <option value="{{ collection.id }}">{{ collection.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" name="add_to_collection" value="true">Add to collection</button>
    </div>
    <button type="submit" name="delete" value="true">Delete images</button>
  </form>
{% endblock %}
